h4.gk_news_block_news_header {
margin: 0 0 8px;
	padding:0;
}
img.gk_news_block_news_image {
}
a.gk_news_block_news_readmore {
}
a.gk_news_block_news_readmore_inline {
	margin-left: 10px;
}
p.gk_news_block_news_text {
margin-top: 0px;
}
table.gk_news_block_table {
}
td.gk_news_block_tablerow_top {
}
div.gk_news_block_panel {
	display: none;
	padding: 6px 0 0 0;
}
div.gk_news_block_panel_font {
	float: left;
	width: 100px;
	padding: 0;
}
div.gk_news_block_panel_font_path {
	width: 100px;
	height: 6px;
	padding: 0;
	border: 1px solid #EEE;
}
div.gk_news_block_panel_font_knob {
	width: 5px;
	height: 6px;
	padding: 0;
	cursor: pointer;
	font-size: 1px;
	background: #CCC;
}
span.gk_news_block_panel_font_value {
	display:block;
	float:left;
}
div.gk_news_block_panel_amount {
	float: right;
	width: 50px;
	padding: 0;
}
div.gk_news_block_panel_amount_plus,
div.gk_news_block_panel_amount_minus {
	width: 12px;
	height: 12px;
	float:left;
	line-height: 12px;
	padding: 0;
	text-align: center;
	cursor: pointer;
	margin-right: 3px;
	border: 1px solid #EEE;
}

span.gk_news_block_panel_amount_value {
	display: block;
	float:left;
	font-size: 10px;
	margin-left: 4px;
}

div.gk_news_block_panel_tools,
div.gk_news_block_panel_tools_hidden {
	cursor: pointer;
	padding: 0;
	float:right;
	font-size: 10px;
	
}
td.gk_news_block_panel-border {
       border-top: 1px dotted #ccc;
}
tr.gk_news_block_tablerow {
}
td.gk_news_block_left {
}
td.gk_news_block_center {
}
td.gk_news_block_right {
}
td.gk_news_block_tablerow_bottom  ul.gk_news_block_list_floated {
}
ul.gk_news_block_list {
}
